@media (min-width:768px ) and (max-width:1200px) {
    
    .filmsMargin {
        width: 47.8%;
        margin-right: 2.13%;
    }

    .newsBlock {
        margin-left: 4%;
        width: 92%;
    }

    .newsBlock>div {
        padding-left: 3.7%;
        padding-right: 3.7%;
        width: 92.6%;
    }
}
