<!DOCTYPE>
<html lang="ru" ng-app="seriesApp" ng-controller="seriesCtrl" style="overflow-y:hidden">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="css/main/mainCss.css" rel="stylesheet">
    <link href="css/404.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/frontEnd.js"></script>
    <title>Страница не найдена</title>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function(d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter42920644 = new Ya.Metrika({
                        id: 42920644,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true,
                        trackHash: true,
                        ut: "noindex",
                        ecommerce: "dataLayer"
                    });
                } catch (e) {}
            });
            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function() {
                    n.parentNode.insertBefore(s, n);
                };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";
            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <!-- /Yandex.Metrika counter -->
</head>

<body>

    <%- include('../static/html/mobileHeader.html'); %>
                <div class="hidden-xs  head">

                <div class="lgMd hidden-xs">
                    <a href="/">
                        <div class="center logo-lg">
                            <span>Frimes</span>
                        </div>
                    </a>
                    <div class="head-color">
                        <my-header :active="''" :value="header" v-for="header in headers"></my-header>
                        <my-header-new :active="''"></my-header-new>
                    </div>
                    
                </div>
            </div>
        <div>
        <div class="content" style="width:100vw;z-index:3;">
            <img style="position:absolute;width:100%;z-index:1;" src="img/delorean.jpg">
            <div style="
				padding-top:4vw;
				position:relative;
z-index:10;
color:  white;
;text-align: center;">
                <div style="font-size: 102px">404</div>

                <div style="font-size: 18px;">Ой! такой страницы нет.</div>

                <a href="/">
                    <div class="notButton">Вернуться на главную</div>
                </a>
            </div>
        </div>
    </div>
    <script>
        createHeader();
    </script>
</body>

</html>