<!DOCTYPE>
<html lang="ru" ng-app="seriesApp" ng-controller="seriesCtrl" style="overflow-y:hidden">

<head>



    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/angular.min.js"></script>
    <!--<script src="js/rotate.js"></script>-->
    <script src="js/mousestop.js"></script>
    <script src="js/js.cookie.js"></script>
    <script src="js/jquery.fullscreen-min.js"></script>
    <!--	<script src="js/jquery-ui.js"></script>-->


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <title>Страница в разработке</title>
    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link href="css/mainCss.css" rel="stylesheet">
    <!--<link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">-->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
    </style>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function(d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter42920644 = new Ya.Metrika({
                        id: 42920644,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true,
                        trackHash: true,
                        ut: "noindex",
                        ecommerce: "dataLayer"
                    });
                } catch (e) {}
            });
            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function() {
                    n.parentNode.insertBefore(s, n);
                };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";
            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <!-- /Yandex.Metrika counter -->

</head>




<body style="background-color:rgb(207, 99, 71);font-family:roboto;padding:0">
    <div class="menuBlock touch"></div>
    <div id="menu" class="menu visible-xs hidden-sm hidden-md hidden-lg">

        <div class="menuScroll">

            <a href="/">
                <div class="  menuText" style="/*margin-top:10%;*/">
                    <span class="menuSpan">Сериалы</span>

                </div>

            </a>
            <hr>
            <a href="/films">
                <div class="  menuText">
                    <span class="menuSpan">Фильмы</span>

                </div>
            </a>
            <hr>
            <a href="/standup">
                <div class="  menuText">
                    <span class="menuSpan">Стендапы</span>

                </div>

            </a>
            <hr>
            <a href="/categories">
                <div class="  menuText">
                    <span class="menuSpan">Категориям</span>


                </div>
            </a>
            <hr>
            <a href="/hot">
                <div class="  menuText">

                    <span class="menuSpan"><img style="margin-bottom:4.12px;margin-right:1%;" src="img/hot.svg">Новинки</span>


                </div>
            </a>
            <hr>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs  head" style="padding:0px;width:100%;">
                <div class="lgMd col-lg-10 col-lg-offset-1 col-sm-12  col-md-10  col-md-offset-1  hidden-xs" style="white-space:nowrap;height:100%;padding-left:4vw;height:100%;padding-right:4vw">


                    <a href="/">
                        <div class="  center logo-lg" style="display:inline-block;width:15%;">
                            Frimes
                        </div>
                    </a>

                    <div class=" head-color" style="vertical-align:top;display:inline-block;padding-right:0px;width:85%;">

                        <a href="/">
                            <div class="frameWidth mouse" id="animateDad">
                                <div class="padding">
                                    <div class="center">Сериалы</div>
                                </div>
                                <div style="height:7%" id="animateBaby" class="animate">
                                </div>
                            </div>
                        </a>

                        <a href="/films">
                            <div class="frameWidth mouse" id="animateDad">
                                <div class="padding">
                                    <div class="center">Фильмы</div>
                                </div>
                                <div style="height:7%" id="animateBaby" class="animate">
                                </div>
                            </div>
                        </a>
                        <a href="/standup">
                            <div class="frameWidth mouse" id="animateDad">
                                <div class="padding">
                                    <div class="center">Стендапы</div>
                                </div>
                                <div style="height:7%" id="animateBaby" class="animate">
                                </div>
                            </div>
                        </a>
                        <a href="/categories">
                            <div class="frameWidth mouse" id="animateDad">
                                <div class="padding">
                                    <div class="center">Поиск по категориям</div>
                                </div>
                                <div style="height:7%" id="animateBaby" class="animate">
                                </div>
                            </div>
                        </a>
                        <a href="/hot">
                            <div style="float:right" class="frameWidth mouse" id="animateDad">
                                <div class="padding">
                                    <div class="center"><img style="margin-bottom:4%" src="img/hot.svg"> Новинки</div>
                                </div>
                                <div id="animateBaby" class="animate">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <span style="padding-left:4vw;padding-right:4vw" class="touch col-xs-12 head hidden-lg hidden-md hidden-sm ">
			<div style="height:100%;text-align: center;" class="logo-sm" >
			
						<a href="/"><span style="display:inline-block;vertical-align:middle;">Frimes</span></a>

        </div>
        <img id="buttonOut" class=" height-sm-xs " src="img/menu.svg ">
        </span>



    </div>
    </div>
    <div style="width:100%;z-index:3;">
        <img style="position:absolute;width:100%;z-index:1;" src="img/delorean.jpg">
        <div style="
				padding-top:4vw;
				position:relative;
z-index:10;
color:  white;
;text-align: center;">

            <div style="font-size: 28px;margin-top:10%;">К сожалению мы еще не сделали эту страницу.</div>

            <a href="/">
                <div class="notButton">Вернуться на главную</div>
            </a>


        </div>

    </div>

    <script src="js/frontEnd.js"></script>
    <div class=" col-xs-12 col-md-12 col-sm-12 col-lg-12 footer">

</body>

</html>